<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	<div th:fragment="pagination">
		<div th:if="${page.lastPage > 1}">
			<ul class="pagination justify-content-center">
				<li th:class="page-item ${page.currentPage<=1} ? disabled"><a
					href="#" class="page-link" th:data-page="${page.currentPage-1}">Previous</a>
				</li>

				<li th:each="${page.pages}"
					th:class="page-item ${page.request.page==page.pages} ? disabled">
					<a href="#" class="page-link" th:data-page="${page.pages}"
					th:text="${page.pages}"></a>
				</li>


				<li
					th:class="page-item ${page.currentPage>=page.lastPage} ? disabled">
					<a href="#" class="page-link" th:data-page="${page.currentPage+1}">Next</a>
				</li>
			</ul>
		</div>
	</div>


</body>
</html>