<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/header :: header-css" />
	<title>Pesan Unit</title>
</head>

<body>
	<div th:replace="fragments/header :: header" />

	<div class="container pt-4">
		<div class="card">
			<div class="card-header">
				Booking Unit
			</div>
			<div class="card-body">
				<form class="needs-validation" th:novalidate="novalidate" action="/insertPesan" method="POST">

					<div class="form-group">
						<label for="idpesan">Tiket Pesan</label>
						<input type="text" class="form-control" id="idpesan" placeholder="Tiket Pesan" th:required="required" />
						<div class="invalid-feedback">
							Tidak boleh kosong
						</div>
					</div>

					<div class="form-group">
						<label for="nama">Nama</label>
						<input type="text" class="form-control" id="nama" placeholder="Nama" th:required="required" />
						<div class="invalid-feedback">
							Tidak boleh kosong
						</div>
					</div>

					<div class="form-group">
						<label for="nomortelepon">Nomor Telepon</label>
						<input type="text" class="form-control" id="nomortelepon" placeholder="Nomor Telepon" th:required="required" />
						<div class="invalid-feedback">
							Tidak boleh kosong
						</div>
					</div>

					<div class="form-group">
						<label for="alamat">Alamat Lengkap</label>
						<input type="text" class="form-control" id="alamat" placeholder="Alamat" th:required="required" />
						<div class="invalid-feedback">
							Tidak boleh kosong
						</div>
					</div>

					<div class="form-group">
						<label for="isipesan">Isi Pesan</label>
						<input type="text" class="form-control" id="isipesan" placeholder="Isi Pesan" th:required="required" />
						<div class="invalid-feedback">
							Tidak boleh kosong
						</div>
					</div>
					<button class="btn btn-primary" type="submit">Simpan</button>
				</form>
			</div>
		</div>
	</div>

	<script th:src="@{/js/inputPesan.js}"></script>

	<div th:replace="fragments/footer :: footer" />

</body>

</html>