<html xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/header :: header-css" />
	<title>Pesan Unit</title>

</head>

<body>
	<div th:replace="fragments/header :: header" />

	<div class="container pt-4">
		<div class="card">
			<div class="card-header">
				Booking Unit
			</div>
			<div class="card-body">
				<form class="needs-validation" th:novalidate="novalidate">

					<div class="form-group">
						<label for="idpesan">Tiket Pesan</label>
						<input type="text" class="form-control" id="idpesan" placeholder="Tiket Pesan" th:required="required" />
						<div class="invalid-feedback">
							Harus diisi
						</div>
					</div>

					<div class="form-group">
						<label for="nama">Nama</label>
						<input type="text" class="form-control" id="nama" placeholder="Nama" th:required="required" />
						<div class="invalid-feedback">
							Harus diisi
						</div>
					</div>

					<div class="form-group">
						<label for="nomortelepon">Nomor Telepon</label>
						<input type="text" class="form-control" id="nomortelepon" placeholder="Nomor Telepon" th:required="required" />
						<div class="invalid-feedback">
							Harus diisi
						</div>
					</div>

					<div class="form-group">
						<label for="alamat">Alamat Lengkap</label>
						<input type="text" class="form-control" id="alamat" placeholder="Alamat" th:required="required" />
						<div class="invalid-feedback">
							Harus diisi
						</div>
					</div>

					<div class="form-group">
						<label for="isipesan">Isi Pesan</label>
						<input type="text" class="form-control" id="isipesan" placeholder="Isi Pesan" th:required="required" />
						<div class="invalid-feedback">
							Harus diisi
						</div>
					</div>
					<button class="btn btn-primary" type="submit">Simpan</button>
				</form>
			</div>
		</div>
	</div>


	<script type="text/javascript">
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function () {
			'use strict';
			window.addEventListener('load', function () {
				// Fetch all the forms we want to apply custom Bootstrap validation styles to
				var forms = document.getElementsByClassName('needs-validation');
				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');
					}, false);
				});
			}, false);
		})();
	</script>
</body>

</html>